[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jaikaravinash
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jaikaravinash
	label-Verified = -1..+1 group user/jaikaravinash
	push = group user/jaikaravinash
	read = group user/jaikaravinash
	rebase = group user/jaikaravinash
	removeReviewer = group user/jaikaravinash
	submit = group user/jaikaravinash
[access "refs/heads/*"]
	create = group user/jaikaravinash
	push = +force group user/jaikaravinash
	pushMerge = group user/jaikaravinash
	read = group user/jaikaravinash
[access "refs/tags/*"]
	push = group user/jaikaravinash
	push = +force group user/jaikaravinash
